@CHARSET "UTF-8";
body {
	font-family: Verdana;	
	font-size: 1em;
}
div#principal {
    width: 50%;
    position: relative;
    float: left;
    left: 25%;
    border: 2px solid blue;
    padding-bottom: 15px;
    margin-top: 50px;
}
div#principal h2 {
    font-size: 1.1em;
    text-align: center;
    color: blue;
}
div#principal div#secundario {
    width: 40%;
    position: relative;
    float: left;
    left: 40%;
}
fieldset {
	width: 50%; 
	border: none;
}
legend {
	font-style: italic; 
	font-size: .9em; 
	color: blue; 
}
table#listado {
	position: relative; 
	left: 25%; 
	width: 50%; 
        
} 
table#listado td {
	text-align: left;
        
}
div.error {
    width: 60%;
    position: relative;
    float: left;
    left: 20%;
    text-align: center;
    color: red;
    border: 3px groove red;    
}
h3 {
    font-style: italic;
    font-size: .9em;
    text-align: center;
}
h3.error, p.error{
	color: red;
	
}
h3.normal {
	color: green;

}
h3.aviso {
	color: orange;
	
}
div.codigo {
	border-bottom: 2px ridge blue;
}
div.codigo input {
	color: red;
	border: none;
	font-size: 1.3em;
	font-weight: bold;
}
h2 {
	text-align: center;
}
div.flotante {
	width: 30%;
	position: relative;
	float: left;
	borber: none;
}
p.boton {
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
}
ol a, a {
	text-decoration: none;
}
p#volver {
    text-align: center;
}
.boton {
    font-size: 1em;
    font-family: verdana;
}
div#principal table {
    width: 70%;
    left: 15%;
}